.active {
  background-color: #03e9fa;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: dodgerblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.nav-title {
  font-size: 2.4rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin: 1rem;
}

/* Navigation List */
.nav-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

/* Navigation List Item */
.nav-item {
  margin-right: 20px;
  /* Adjust the spacing between items as needed */
}

/* Navigation Link Styling */
.nav-link {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.6rem;
  transition: color 0.3s;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

.nav-link:hover {
  color: #ffcc00;
}

.create-account {
  display: block;
  text-decoration: none;
  color: #ffcc00;
  border: 5px solid #ffcc00;
  font-weight: bold;
  font-size: 1.6rem;
  transition: color 0.3s;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: auto;
  /* flex-wrap: wrap; */
  gap: 10px;
}

/* Style for each questionnaire card */
.q-card {
  background: white;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.q-card:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.q-card.expanded {
  height: auto;
}

/* Style for the title of each questionnaire */
.q-title {
  /* flex: 20%; */
  border-bottom: 1px solid lightgray;
  background-color: dodgerblue;
  display: grid;
  place-content: center;
  color: #fff;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* Style for the description of each questionnaire */
.q-description {
  flex: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  font-size: 1.8rem;
  padding: 10px;
}

.limited-description {
  margin-bottom: 10px;
}

.read-more-button {
  background-color: dodgerblue;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
}

.q-card .view-questionnaire-button:hover {
  background-color: #0069d9;
}

.q-card-buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  flex-direction: row-reverse;

}

.q-card .q-description .q-card-buttons .view-questionnaire-button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  margin-left: auto;
}

/* Styling for the Questionnaire Page */
.questionnaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  justify-content: space-evenly;
  gap: 10px;
}

.questionnaire .container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
}

.questionnaire .q-questions {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: auto;
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;
}

.questionnaire .q-question {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  gap: 20px;
}

.questionnaire .q-question .q-question-text {
  background-color: dodgerblue;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.8rem;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.questionnaire .q-description {
  padding: 20px;
  font-size: 1.6rem;
}

.questionnaire .q-question-text h3 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.questionnaire .q-question-options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}

.questionnaire .q-question-options .option {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: antiquewhite;
}

/* radio buttons */
.questionnaire .q-question-options .option input[type="radio"] {
  margin-right: 10px;
}

/* Styling for radio button and label */
.questionnaire .q-question-options .option input[type="radio"]+label {
  font-size: 1.4rem;
  color: #333;
  cursor: pointer;
}

/* Styling for radio button when selected */
.questionnaire .q-question-options .option input[type="radio"]:checked+label {
  font-weight: bold;
  color: dodgerblue;
}

/* Styling for login page */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 300px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

/* styling for about page */
.about-page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

.about-card {
  background: white;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.about-card h2 {
  margin-bottom: 20px;
}

.about-card p {
  line-height: 1.6;
  text-align: justify;
}

.about-card a {
  color: #007BFF;
  text-decoration: none;
}

.about-card a:hover {
  color: #0056b3;
}

.about-card .faGithub,
.about-card .faLinkedin {
  margin-right: 5px;
}

.about-card .links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

/* footer styling */

.footer {
  width: 100%;
  background-color: dodgerblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: auto;
}

.footer .container {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  flex-direction: row;
  width: 100%;
}

.footer .container p {
  margin: 0;
  width: 100%;
}

.footer .container .links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}